<mat-card style="background-color: rgb(223, 222, 217);">
  <mat-action-list>
    <div style="text-align: center; background-color: lightgray;" mat-subheader>
      MENU TOOL-BAR
    </div>
    <button mat-list-item routerLink="/admin-dashboard"><mat-icon  mat-list-icon>home</mat-icon> HOME </button>
    <button mat-list-item routerLink="/admin-dashboard/profile" ><mat-icon mat-list-icon>person</mat-icon> PROFILE </button>
    <button mat-list-item><mat-icon mat-list-icon>verified_user</mat-icon> VERIFIED USER </button>
    <button mat-list-item routerLink="/login" (click)="logout()"><mat-icon mat-list-icon>logout</mat-icon> LOGOUT </button>
  </mat-action-list>
</mat-card>
